@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes liquid {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background-size: 300% 100%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: rotate 70s infinite, liquid 8s ease-in-out infinite;
  opacity: 0.8;
}
