:root {
  --background-rgb: 29 30 34;
  --blue-rgb: 33 150 243;
  --primary-rgb: var(--blue-rgb);
}

.card {
  border: 3px solid rgb(var(--blue-rgb) / 80%);
}

.card__lines {
  background: linear-gradient(
    rgb(var(--primary-rgb) / 0.15),
    rgb(var(--primary-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  position: absolute;
  z-index: 0;
}

.card__content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}
