---
import Layout from "@layouts/index.astro";
import { BlogList } from "@components/content/blogs";
import { ScrollArea } from "@components/ui/scroll-area";
import { ArrowLeft } from "lucide-react";
---

<Layout>
  <div class="flex w-full h-full justify-center">
      <ScrollArea client:load className="w-full max-w-screen-xl px-4 md:px-10 h-full">
        <div class="pb-20">
            <div class="flex flex-col gap-4 mb-8">
              <div class="text-md flex items-center gap-2 text-muted-foreground hover:text-foreground hover:underline">
                <ArrowLeft className="h-4 w-4" />
                <a href="/">
                  <span>Go back</span>
                </a>
              </div>
              <p class="text-3xl font-bold text-foreground">Blog Posts</p>
            </div>
            <BlogList />
        </div>
      </ScrollArea>
  </div>
</Layout>
