---
import Layout from "@layouts/index.astro";
import { cn } from "@lib/utils";
import { AboutMe } from "@components/content/about-me";
import { Summary } from "@components/content/summary";
import { ScrollArea } from "@components/ui/scroll-area";
---

<Layout>
  <div class="flex w-full h-full justify-center">
    <div
      class={cn(
        "flex flex-col lg:flex-row",
        "gap-24 lg:gap-4 justify-between",
        "text-foreground",
        "w-full max-w-screen-xl px-10",
      )}
    >
      <div class="lg:w-1/2 flex flex-col gap-24">
        <AboutMe client:only />
      </div>

      <ScrollArea id="scroll-content" client:idle className="lg:w-1/2 pr-4">
        <Summary client:idle />
      </ScrollArea>
    </div>
  </div>
</Layout>
