---
import Layout from '../layouts/index.astro'
---
<Layout>
  <div class='py-20 px-20 md:px-40 xl:px-80 flex flex-col gap-16 text-2xl font-anton bg-black text-white'>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam laboriosam porro omnis tempora esse possimus ipsum sed similique tempore doloremque numquam adipisci, eius eaque corporis nesciunt architecto voluptatem modi maiores!</p>
  </div>
</Layout>