---
import "@fontsource/anton";
import "@fontsource/work-sans";
import Layout from "../layouts/index.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import { Timeline, Projects } from "../components";

const milestones = [
  {
    year: 2018,
    description:
      "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
  },
  {
    year: 2019,
    description:
      "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
  },
  {
    year: 2020,
    description:
      "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.",
  },
];
---

<Layout>
  <div class="h-[80vh]" slot="main">
    <div class="flex flex-col justify-center h-full gap-10">
      <LottieAnimation src="../assets/rocker-launch.json" autoplay="visible" />
      <p class="font-anton text-9xl text-center text-white uppercase">
        martín larrea
      </p>
      <div>
        <p
          class="font-[Work Sans] font-bold tracking-[0.1em] text-3xl text-center text-white capitalize"
        >
          entrepreneur
        </p>
        <p
          class="font-[Work Sans] font-bold tracking-[0.1em] text-3xl text-center text-white capitalize"
        >
          software engineer
        </p>
      </div>
    </div>
  </div>
  <div slot="about-me">
    <div
      class="md:px-40 xl:px-80 flex flex-row md:flex-col justify-center items-center"
    >
      <Timeline milestones={milestones} />
    </div>
  </div>
  <div
    class="py-[300px] px-2 md:px-40 xl:px-80 flex flex-col gap-16 text-2xl font-[Work Sanss] text-white"
    slot="projects"
  >
    <Projects client:idle />
  </div>
</Layout>
