---
import Layout from "@layouts/index.astro";
import { cn } from "@lib/utils";
import { AboutMe } from "@components/content/about-me";
import { Summary } from "@components/content/summary";
import { ScrollArea } from "@components/ui/scroll-area";
import { Input } from "@components/ui/input";
import { ExperienceFull } from "@components/content/experience-full";
---

<Layout>
  <div class="flex w-full h-full justify-center">
    <ExperienceFull client:only />
  </div>
</Layout>
