---
import LogoWhite from "@lib/assets/logo-white.svg";
import { Navbar } from "@components/navbar";
import { Squares } from "@components/ui/squares-background";
import "@styles/global.css";
---

<script is:inline>
  document.documentElement.classList.add("dark");
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={LogoWhite.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Martín Larrea</title>
  </head>
  <body class="bg-background">
    <div class="absolute z-0 w-full h-full">
      <Squares
        client:idle
        direction="diagonal"
        speed={0.5}
        squareSize={40}
      />
    </div>
    <div class="absolute z-0 w-full h-dvh py-16">
      <slot />
    </div>
  </body>
</html>
