---
import { Navbar } from "../components";
import { RainbowCursor } from "../components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Martín Larrea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-black">
    <div class="relative h-[100%] w-[100%] bg-blue">
      <RainbowCursor client:idle />
    </div>
    <div class="backdrop-blur-[3vmax]">
      <nav class="sticky hidden md:block md:top-0 bg-black/90 z-10">
        <Navbar client:idle />
      </nav>
      <article>
        <slot name="main" />
        <slot name="about-me" />
        <slot name="projects" />
        <slot name="social" />
      </article>
      <nav
        class="absolute sticky w-full bottom-0 md:hidden md:top-0 bg-black/90 z-10"
      >
        <Navbar client:idle />
      </nav>
    </div>
  </body>
</html>
